@font-face {
  font-family: 'Changa Light';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Changa-Light.woff2') format('woff2'),
    url('../fonts/Changa-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Changa Medium';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Changa-Medium.woff2') format('woff2'),
    url('../fonts/Changa-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Changa SemiBold';
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Changa-SemiBold.woff2') format('woff2'),
    url('../fonts/Changa-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono Regular';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

footer {
  font-size: 18px;
}

code {
  font-family: SpaceMono Regular, Courier, monospace;
}

.clt_body {
  background-image: url('../img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: Changa Light, Arial, sans-serif;
  line-height: 1.222;
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding: 58px 58px 0 58px;
  margin: 0px auto;
}

.clt_body a {
  color: #fff;
}

.clt_border {
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  padding: 0 30px 30px 30px;
  background-color:hsla(0, 0%, 0%, 0.25);
}

.clt_h1 {
  font-size: 72px;
  color: #fff;
  margin-top: 30px;
  font-family: Changa SemiBold, Arial, sans-serif;
}

.clt_h2 {
  font-size: 48px;
  color: #fff;
  font-family: Changa SemiBold, Arial, sans-serif;
}

.clt_token {
  text-align: center !important;
}

.clt_text {
  padding: 15px 0;
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 1200px) {
  .clt_text {
    width: 60%;
    margin: 0 auto;
  }
}

.clt_linie {
  border-top: 2px;
  border-top-style: solid;
  border-top-color: #fff;
}

.clt_list {
  padding: 15px 0;
}

.clt_list li {
  text-align: left;
}

@media (min-width: 1200px) {
  .clt_list {
    width: 60%;
    margin: 0 auto;
  }
}

.clt_buttons {
  padding: 10px;
}

.clt_button {
  background-color: #008ee2;
  border: none;
  color: white !important;
  padding: 12px 48px;
  text-align: center;
  display: inline-block;
  margin: 2px 2px;
}

.clt_media-fit {
  max-width: 100%;
  max-height: 75vh;
  height: auto;
}

.clt_achievement-list {
  font-size: 20px;
  text-align: left;
  padding: 0 10%;
  line-height: 1.5;
}

@media (max-width: 720px) {
  .clt_achievement-list {
    padding: 0 2%;
  }
}

@media (min-width: 1200px) {
  .clt_achievement-list {
    padding: 0 20%;
  }
}

@media (min-width: 1600px) {
  .clt_achievement-list {
    padding: 0 25%;
  }
}

.clt_achievement-list dt {
  font-family: Changa Medium, Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 0.5em;
}

.clt_achievement-list dd {
  margin: 1em 0 0.5em 0;
}

.clt_achievement-list dd+dd {
  margin: 0 0 1.5em 0;
}

.clt_achievement-list dd:after {
  content: " ";
  display: table;
  clear: both;
}

.clt_achievement-list dd img {
  display: block;
  margin: 0 10px 0 0;
  float: left;
}